  <%= simple_form_for(@note, :url => {:action => "create"}) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title, required: true, label: "Title:" %>
      <%= f.input :content, label: "brief description or comments?" %>
      <div class="form-actions mt-3">
        <%= f.file_field :upload, required: true, label: "upload your notes!" %>
      </div>
    </div>

    <div class="form-actions mt-3">
      <%= f.button :submit, "Submit", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
