
<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, required: true, label: "Title:" %>
    <%= f.input :content, label: "care to give a brief description or make any comments?" %>
    <%= f.input :class_date, required: true, label: "date of class"  %>
    <%= f.input :upload_url, as: :file, required: true, label: "upload your notes!" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
