<p id="notice"><%= notice %></p>

<h1>Class Materials</h1>

<table>
  <thead>
    <tr>
      <th>Material url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_materials.each do |class_material| %>
      <tr>
        <td><%= class_material.material_url %></td>
        <td><%= link_to 'Show', class_material %></td>
        <td><%= link_to 'Edit', edit_class_material_path(class_material) %></td>
        <td><%= link_to 'Destroy', class_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class Material', new_class_material_path %>
