<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reading.name %>
</p>

<p>
  <strong>Reading url:</strong>
  <%= @reading.reading_url %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
