<div class="card mt-3 mb-3 ml-2 mr-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= note.title %></h5>
    <% noteuser = User.find(note.user_id) %>
    <h6 class="card-subtitle mb-2 text-muted"><%= "submitted by: #{noteuser.email} on #{note.created_at}"  %></h6>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text"><%= note.content %></p>
    <% if note.upload.attached? %>
      <% if note.upload.image? %>
        <%= image_tag note.upload, width: "150px"  %>
      <% elsif note.upload.audio? %>
        <audio controls>
          <a class="card-link"><source src="<%= rails_blob.url(note.upload) %>" type="<%= attachment.content_type %>"/></a>
        </audio>
      <% elsif note.upload.video? %>
        <video controls width="480">
          <a class="card-link"><source src="<%= rails_blob.url(note.upload) %>" type="<%= attachment.content_type %>"</a>
        </video>
      <% else %>
        <% if note.upload.representable? %>
          <%=link_to image_tag( note.upload.preview( resize_to_refit: [100, 100] ) ), rails_blob_path(note.upload, disposition: "attachment") %>
        <% else %>
          <%= link_to "download",  rails_blob_path(note.upload, disposition: "attachment") %>
        <% end %>
      <% end %>
    <% end %>
    <% if note.user_id == current_user.id %>
      <a class="card-link"><%= link_to 'delete note', course_lecture_note_destroy_path(course_id: @course.id, lecture_id: lecture.id, note_id: note.id ), method: :delete, data: { confirm: 'Are you sure?' } %></a>
    <% end %>
  </div>
</div>
