<%= render 'courseBreadCrumb', course: @course %>
<div style="display: flex; flex-direction: column; align-items: center;">
  <h1 style='text-align: center;'><%= @course.name %></h1>
  <% if current_user.id == @course.user_id %>
    <%= link_to 'Edit', edit_course_path(@course) %>
  <% end %>
  <p style='text-align: center;'><strong><%= @course.code %></strong></p>
  <p style='text-align: center;'><strong>Professor:</strong><%= " #{@course.professor}" %></p>
  <div class="btn-group mb-3" role="group" aria-label="Basic outlined example" >
      <button type="button" class="btn btn-outline-primary"><%= link_to "Add Lecture",  new_course_lecture_path(@course) %></button>
  </div>
</div>

<% unless @lectures.first.nil? %>
  <%= render 'courseNav', course: @course %>
<% end %>



